@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Margin and padding Reset */
* {
    margin: 0;
    padding: 0;
}

/* Paul Irish box-sizing reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
}

/* 
Hafcon Color: #18bba5;
*/

/* Header Styling */
.nav-text {
    background-color: #18bba5;
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    padding: 1.5% 0;
    text-align: center;
}

/* Wrapper Styling */
.wrapper {
    margin: 0 auto;
    width: 80%;
}

/* Section Dividing Line Styling */
.section-border {
    background-color: #6bd8c9;
    height: 2.5px;
    margin: 0 auto;
    width: 60%;
}

/* Margin for each section */
.section-welcome,
.section-usage,
.section-icons {
    margin: 8% 0;
}

/* Styling for the section headers */
.welcome-hdr,
.usg-hdr,
.icn-hdr {
    font-size: 1.5rem;
    margin-bottom: 2%;
    letter-spacing: 0.75px;
}

.icn-hdr {
    margin-bottom: 6%;
    text-align: center;
}

/* Styling for the section paragraphs */
.welcome-para,
.usg-para {
    margin-bottom: 8%;
    line-height: 145%;
}

/* Span Stylings */
.hafcon-spn {
    color: #18bba5;
    font-weight: bolder;
}

.html-spn {
    color: #ea5827;
    font-weight: bolder;
}

.css-spn {
    color: #2758ea;
    font-weight: bolder;
}

/* Styling for the CDN Button */
.cdn-btn-container {
    text-align: center;
}

.cdn-btn {
    background-color: #18bba5;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 1.35rem;
    font-weight: bolder;
    margin-bottom: 8%;
    outline: none;
    padding: 3.25% 15%;
    text-align: center;
    transition: ease-in-out 250ms;
}

.cdn-btn:hover,
.cdn-btn:active,
.cdn-btn:focus {
    background-color: #00a58f;
    cursor: pointer;
}

/* Icon Card Styling */
.icon-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 auto 10% auto;
    width: 90%;
}

.content-box {
    background-color: #f3f2f2;
    flex-grow: 1;
    padding: 6% 0 6% 6%;
}

.color-box {
    background-color: #ade6d3;
    flex: 1;
    max-width: 20%;
}

/* General Icon Styling */
.icon-row {
    margin-bottom: 4%;
}

.icon-row i {
    color: #414141;
    margin-right: 5%;
}

.main-icon {
    font-size: 3.5rem;
    transition: ease-in-out 250ms;
}

/* Color Codes & Brand Link Styling */
.color-codes-row {
    font-size: 1.1rem;
    line-height: 145%;
}

.color-codes-row a:link,
.color-codes-row a:visited {
    color: #18bba5;
    font-weight: bolder;
    text-decoration: none;
    transition: ease-in-out 250ms;
}

.color-codes-row a:hover,
.color-codes-row a:active,
.color-codes-row a:focus {
    color: #00a58f;
    font-size: 1.25rem;
}


/****----ICON COLORS----****/

/* Black Icon Card Stylings */
.fa-angellist:hover,
.fa-blackberry:hover,
.fa-codepen:hover,
.fa-codiepie:hover,
.fa-expeditedssl:hover,
.fa-grav:hover,
.fa-leanpub:hover,
.fa-medium:hover,
.fa-medium-m:hover,
.fa-pagelines:hover {
    color: #000000;
}

.color-box.angellist,
.color-box.blackberry,
.color-box.codepen,
.color-box.codiepie,
.color-box.expeditedssl,
.color-box.grav,
.color-box.leanpub,
.color-box.medium,
.color-box.medium-m,
.color-box.pagelines {
    background-color: #000000;
}

/* React Demo Icon Card Styling */
.fa-react:hover {
    color: #61dafb;
}

.color-box.react {
    background-color: #61dafb;
}

/* Adobe Icon Card Styling */
.fa-adobe:hover {
    color: #ff0000;
}

.color-box.adobe {
    background-color: #ff0000;
}

/* affiliatetheme Icon Card Styling */
.fa-affiliatetheme:hover {
    color: #c01313;
}

.color-box.affiliatetheme {
    background-color: #c01313;
}

/* Airbnb Icon Card Styling */
.fa-airbnb:hover {
    color: #ff5a5f;
}

.color-box.airbnb {
    background-color: #ff5a5f;
}

/* Algolia Icon Card Styling */
.fa-algolia:hover {
    color: #1b89f2;
}

.color-box.algolia {
    background-color: #1b89f2;
}

/* Alipay Icon Card Styling */
.fa-alipay:hover {
    color: #00aaee;
}

.color-box.alipay {
    background-color: #00aaee;
}

/* Amazon Icon Card Stylings */
.fa-amazon:hover,
.fa-amazon-pay:hover,
.fa-cc-amazon-pay:hover,
.fa-aws:hover {
    color: #ff9900;
}

.color-box.amazon,
.color-box.amazon-pay,
.color-box.cc-amazon-pay,
.color-box.aws {
    background-color: #ff9900;
}

/* Amex Icon Card Styling */
.fa-cc-amex:hover {
    color: #006fcf;
}

.color-box.cc-amex {
    background-color: #006fcf;
}

/* Amilia Icon Card Styling */
.fa-amilia:hover {
    color: #2b91e1;
}

.color-box.amilia {
    background-color: #2b91e1;
}

/* Android Icon Card Styling */
.fa-android:hover {
    color: #77c159;
}

.color-box.android {
    background-color: #77c159;
}

/* Angular Icon Card Styling */
.fa-angular:hover {
    color: #d00030;
}

.color-box.angular {
    background-color: #d00030;
}

/* App Store Icon Card Stylings */
.fa-app-store:hover,
.fa-app-store-ios:hover {
    color: #1d9bf5;
}

.color-box.app-store,
.color-box.app-store-ios {
    background-color: #1d9bf5;
}

/* Apple & Apple Pay Icon Card Styling */
.fa-apple:hover,
.fa-apple-pay:hover,
.fa-cc-apple-pay:hover {
    color: #888888;
}

.color-box.apple,
.color-box.apple-pay,
.color-box.cc-apple-pay {
    background-color: #888888;
}

/* ArtStation Icon Card Styling */
.fa-artstation:hover {
    color: #13aff0;
}

.color-box.artstation {
    background-color: #14aef0;
}

/* Asymmetrik Icon Card Styling */
.fa-asymmetrik:hover {
    color: #be1e2d;
}

.color-box.asymmetrik {
    background-color: #be1e2d;
}

/* Atlassian Icon Card Styling */
.fa-atlassian:hover {
    color: #007dff;
}

.color-box.atlassian {
    background-color: #007dff;
}

/* Audible Icon Card Styling */
.fa-audible:hover {
    color: #f9a638;
}

.color-box.audible {
    background-color: #f9a638;
}

/* Autoprefixer Icon Card Styling */
.fa-autoprefixer:hover {
    color: #dd3735;
}

.color-box.autoprefixer {
    background-color: #dd3735;
}

/* Bandcamp Icon Card Styling */
.fa-bandcamp:hover {
    color: #1da0c3;
}

.color-box.bandcamp {
    background-color: #1da0c3;
}

/* Battle.net Icon Card Styling */
.fa-battle-net:hover {
    color: #00a2f0;
}

.color-box.battle-net {
    background-color: #00a2f0;
}

/* Behance Icon Card Stylings */
.fa-behance:hover,
.fa-behance-square:hover {
    color: #0056ff;
}

.color-box.behance,
.color-box.behance-square {
    background-color: #0056ff;
}

/* BIMobject Icon Card Styling */
.fa-bimobject:hover {
    color: #00aeef;
}

.color-box.bimobject {
    background-color: #00aeef;
}

/* Bitbucket Icon Card Styling */
.fa-bitbucket:hover {
    color: #2684ff;
}

.color-box.bitbucket {
    background-color: #2684ff;
}

/* Bitcoin Icon Card Stylings */
.fa-bitcoin:hover,
.fa-btc:hover {
    color: #f79413;
}

.color-box.bitcoin,
.color-box.btc {
    background-color: #f79413;
}

/* Blogger Icon Card Styling */
.fa-blogger:hover,
.fa-blogger-b:hover {
    color: #f27b36;
}

.color-box.blogger,
.color-box.blogger-b {
    background-color: #f27b36;
}

/* Bluetooth Icon Card Stylings */
.fa-bluetooth:hover,
.fa-bluetooth-b:hover {
    color: #0083fc;
}

.color-box.bluetooth,
.color-box.bluetooth-b {
    background-color: #0083fc;
}

/* Bootstrap Icon Card Styling */
.fa-bootstrap:hover {
    color: #563d7c;
}

.color-box.bootstrap {
    background-color: #563d7c;
}

/* Buffer Icon Card Styling */
.fa-buffer:hover {
    color: #192535;
}

.color-box.buffer {
    background-color: #192535;
}

/* Cloudversify Icon Card Styling */
.fa-cloudversify:hover {
    color: #29bae3;
}

.color-box.cloudversify {
    background-color: #29bae3;
}

/* Contao Icon Card Styling */
.fa-contao:hover {
    color: #f47c00;
}

.color-box.contao {
    background-color: #f47c00;
}

/* cPanel Icon Card Styling */
.fa-cpanel:hover {
    color: #f86c2f;
}

.color-box.cpanel {
    background-color: #f86c2f;
}

/* CSS3 Icon Card Styling */
.fa-css3-alt:hover {
    color: #2758ea;
}

.color-box.css3-alt {
    background-color: #2758ea;
}

/* Dashcube Icon Card Styling */
.fa-dashcube:hover {
    color: #949494;
}

.color-box.dashcube {
    background-color: #949494;
}

/* Deskpro Icon Card Styling */
.fa-deskpro:hover {
    color: #4196d4;
}

.color-box.deskpro {
    background-color: #4196d4;
}

/* DigitalOcean Icon Card Styling */
.fa-digital-ocean:hover {
    color: #0069ff;
}

.color-box.digital-ocean {
    background-color: #0069ff;
}

/* Discord Icon Card Styling */
.fa-discord:hover {
    color: #7289da;
}

.color-box.discord {
    background-color: #7289da;
}

/* Discord Icon Card Styling */
.fa-dochub:hover {
    color: #32a4fa;
}

.color-box.dochub {
    background-color: #32a4fa;
}

/* Docker Icon Card Styling */
.fa-docker:hover {
    color: #099cec;
}

.color-box.docker {
    background-color: #099cec;
}

/* Draft2Digital Icon Card Styling */
.fa-draft2digital:hover {
    color: #ef4823;
}

.color-box.draft2digital {
    background-color: #ef4823;
}

/* Dribbble Icon Card Styling */
.fa-dribbble:hover {
    color: #c32361;
}

.color-box.dribbble {
    background-color: #c32361;
}

/* Dribbble Square Icon Card Styling */
.fa-dribbble-square:hover {
    color: #ea4c8a;
}

.color-box.dribbble-square {
    background-color: #ea4c8a;
}

/* Dropbox Icon Card Styling */
.fa-dropbox:hover {
    color: #0061ff;
}

.color-box.dropbox {
    background-color: #0061ff;
}

/* Drupal Icon Card Styling */
.fa-drupal:hover {
    color: #0381c3;
}

.color-box.drupal {
    background-color: #0381c3;
}

/* Edge Icon Card Styling */
.fa-edge:hover {
    color: #0078d7;
}

.color-box.edge {
    background-color: #0078d7;
}

/* Ember.js Icon Card Styling */
.fa-ember:hover {
    color: #e04e39;
}

.color-box.ember {
    background-color: #e04e39;
}

/* Envira Icon Card Styling */
.fa-envira:hover {
    color: #7bbf48;
}

.color-box.envira {
    background-color: #7bbf48;
}

/* Erlang Icon Card Styling */
.fa-erlang:hover {
    color: #8c032f;
}

.color-box.erlang {
    background-color: #8c032f;
}

/* Ethereum Icon Card Styling */
.fa-ethereum:hover {
    color: #8c8c8c;
}

.color-box.ethereum {
    background-color: #8c8c8c;
}

/* Etsy Icon Card Styling */
.fa-etsy:hover {
    color: #f45800;
}

.color-box.etsy {
    background-color: #f45800;
}

/* Evernote Icon Card Styling */
.fa-evernote:hover {
    color: #00a82d;
}

.color-box.evernote {
    background-color: #00a82d;
}

/* Facebook Icon Card Stylings */
.fa-facebook-f:hover,
.fa-facebook-square:hover {
    color: #4267b2;
}

.color-box.facebook-f,
.color-box.facebook-square {
    background-color: #4267b2;
}

/* Fedora Icon Card Styling */
.fa-fedora:hover {
    color: #0a57a4;
}

.color-box.fedora {
    background-color: #0a57a4;
}

/* Firefox Icon Card Styling */
.fa-firefox:hover {
    color: #ff4911;
}

.color-box.firefox {
    background-color: #ff4911;
}

/* Flickr Blue Icon Card Styling */
.flickr-blue:hover {
    color: #006add;
}

.color-box.flickr-blue {
    background-color: #006add;
}

/* Flickr Blue Icon Card Styling */
.flickr-pink:hover {
    color: #ff1981;
}

.color-box.flickr-pink {
    background-color: #ff1981;
}

/* Flipboard Icon Card Styling */
.fa-flipboard:hover {
    color: #f52828;
}

.color-box.flipboard {
    background-color: #f52828;
}

/* Font Awesome Icon Card Stylings */
.fa-font-awesome:hover,
.fa-font-awesome-alt:hover,
.fa-font-awesome-flag:hover {
    color: #339af0;
}

.color-box.font-awesome,
.color-box.font-awesome-alt,
.color-box.font-awesome-flag {
    background-color: #339af0;
}

/* Forumbee Icon Card Styling */
.fa-forumbee:hover {
    color: #85ab2e;
}

.color-box.forumbee {
    background-color: #85ab2e;
}

/* Foursquare Icon Card Styling */
.fa-foursquare:hover {
    color: #fa4778;
}

.color-box.foursquare {
    background-color: #fa4778;
}

/* freeCodeCamp Icon Card Styling */
.fa-free-code-camp:hover {
    color: #006400;
}

.color-box.free-code-camp {
    background-color: #006400;
}

/* FreeBSD Icon Card Styling */
.fa-freebsd:hover {
    color: #b5010f;
}

.color-box.freebsd {
    background-color: #b5010f;
}

/* Git Icon Card Styling */
.fa-git:hover {
    color: #413932;
}

.color-box.git {
    background-color: #413932;
}

/* Git Square Icon Card Styling */
.fa-git-square:hover {
    color: #f54d27;
}

.color-box.git-square {
    background-color: #f54d27;
}

/* GitHub Icon Card Stylings */
.fa-github:hover,
.fa-github-alt:hover,
.fa-github-square:hover {
    color: #1b1f23;
}

.color-box.github,
.color-box.github-alt,
.color-box.github-square {
    background-color: #1b1f23;
}

/* GitKraken Icon Card Styling */
.fa-gitkraken:hover {
    color: #199489;
}

.color-box.gitkraken {
    background-color: #199489;
}

/* Gitter Icon Card Styling */
.fa-gitter:hover {
    color: #ed004b;
}

.color-box.gitter {
    background-color: #ed004b;
}

/* Glide Icon Card Stylings */
.fa-glide:hover,
.fa-glide-g:hover {
    color: #0099ff;
}

.color-box.glide,
.color-box.glide-g {
    background-color: #0099ff;
}

/* Gofore Icon Card Styling */
.fa-gofore:hover {
    color: #ff8551;
}

.color-box.gofore {
    background-color: #ff8551;
}

/* Google Icon Card Styling */
.fa-google:hover {
    color: #498af5;
}

.color-box.google {
    background-color: #498af5;
}

/* Google+ Icon Card Stylings */
.fa-google-plus:hover,
.fa-google-plus-g:hover,
.fa-google-plus-square:hover {
    color: #dd5144;
}

.color-box.google-plus,
.color-box.google-plus-g,
.color-box.google-plus-square {
    background-color: #dd5144;
}

/* Gratipay Icon Card Styling */
.fa-gratipay:hover {
    color: #663300;
}

.color-box.gratipay {
    background-color: #663300;
}

/* Grunt Icon Card Styling */
.fa-grunt:hover {
    color: #fba919;
}

.color-box.grunt {
    background-color: #fba919;
}

/* gulp.js Icon Card Styling */
.fa-gulp:hover {
    color: #da4648;
}

.color-box.gulp {
    background-color: #da4648;
}

/* HackerRank Icon Card Styling */
.fa-hackerrank:hover {
    color: #32c966;
}

.color-box.hackerrank {
    background-color: #32c966;
}

/* Hotjar Icon Card Styling */
.fa-hotjar:hover {
    color: #fb385a;
}

.color-box.hotjar {
    background-color: #fb385a;
}

/* HTML5 Icon Card Styling */
.fa-html5:hover {
    color: #ea5827;
}

.color-box.html5 {
    background-color: #ea5827;
}

/* HubSpot Icon Card Styling */
.fa-hubspot:hover {
    color: #f8761f;
}

.color-box.hubspot {
    background-color: #f8761f;
}

/* Intercom Icon Card Styling */
.fa-intercom:hover {
    color: #286efa;
}

.color-box.intercom {
    background-color: #286efa;
}

/* InVision Icon Card Styling */
.fa-invision:hover {
    color: #fd3365;
}

.color-box.invision {
    background-color: #fd3365;
}

/* IoxHost Icon Card Styling */
.fa-ioxhost:hover {
    color: #faa829;
}

.color-box.ioxhost {
    background-color: #faa829;
}

/* itch.io Icon Card Styling */
.fa-itch-io:hover {
    color: #fa5c5c;
}

.color-box.itch-io {
    background-color: #fa5c5c;
}

/* Java Blue Icon Card Styling */
.java-blue:hover {
    color: #3e7699;
}

.color-box.java-blue {
    background-color: #3e7699;
}

/* Java Orange Icon Card Styling */
.java-orange:hover {
    color: #f8981d;
}

.color-box.java-orange {
    background-color: #f8981d;
}

/* Jira Icon Card Styling */
.fa-jira:hover {
    color: #2684ff;
}

.color-box.jira {
    background-color: #2684ff;
}

/* JavaScript Icon Card Styling */
.fa-js:hover {
    color: #f7e018;
}

.color-box.js {
    background-color: #f7e018;
}

/* JSFiddle Icon Card Styling */
.fa-jsfiddle:hover {
    color: #0084ff;
}

.color-box.jsfiddle {
    background-color: #0084ff;
}

/* Kaggle Icon Card Styling */
.fa-kaggle:hover {
    color: #20beff;
}

.color-box.kaggle {
    background-color: #20beff;
}

/* KeyCDN Icon Card Styling */
.fa-keycdn:hover {
    color: #047aed;
}

.color-box.keycdn {
    background-color: #047aed;
}

/* Kickstarter Icon Card Styling */
.fa-kickstarter:hover,
.fa-kickstarter-k:hover {
    color: #63dd64;
}

.color-box.kickstarter,
.color-box.kickstarter-k {
    background-color: #63dd64;
}

/* Laravel Icon Card Styling */
.fa-laravel:hover {
    color: #fb503b;
}

.color-box.laravel {
    background-color: #fb503b;
}

/* Last.fm Icon Card Styling */
.fa-lastfm:hover,
.fa-lastfm-square:hover {
    color: #e31b23;
}

.color-box.lastfm,
.color-box.lastfm-square {
    background-color: #e31b23;
}

/* Less Icon Card Styling */
.fa-less:hover {
    color: #20426e;
}

.color-box.less {
    background-color: #20426e;
}

/* LinkedIn Icon Card Styling */
.fa-linkedin:hover,
.fa-linkedin-in:hover {
    color: #007bb5;
}

.color-box.linkedin,
.color-box.linkedin-in {
    background-color: #007bb5;
}

/* Linode Icon Card Styling */
.fa-linode:hover {
    color: #00b259;
}

.color-box.linode {
    background-color: #00b259;
}

/* Lyft Icon Card Styling */
.fa-lyft:hover {
    color: #ea0b8c;
}

.color-box.lyft {
    background-color: #ea0b8c;
}

/* Magento Icon Card Styling */
.fa-magento:hover {
    color: #f26322;
}

.color-box.magento {
    background-color: #f26322;
}

/* Mailchimp Icon Card Styling */
.fa-mailchimp:hover {
    color: #ffe01b;
}

.color-box.mailchimp {
    background-color: #ffe01b;
}

/* Mastodon Icon Card Styling */
.fa-mastodon:hover {
    color: #3088d4;
}

.color-box.mastodon {
    background-color: #3088d4;
}

/* Meetup Icon Card Styling */
.fa-meetup:hover {
    color: #ed1c40;
}

.color-box.meetup {
    background-color: #ed1c40;
}

/* Megaport Icon Card Styling */
.fa-megaport:hover {
    color: #ff0000;
}

.color-box.megaport {
    background-color: #ff0000;
}

/* Mendeley Icon Card Styling */
.fa-mendeley:hover {
    color: #e5222e;
}

.color-box.mendeley {
    background-color: #e5222e;
}

/* Messenger Icon Card Styling */
.fa-facebook-messenger:hover {
    color: #01acff;
}

.color-box.facebook-messenger {
    background-color: #01acff;
}

/* Mizuni Icon Card Styling */
.fa-mizuni:hover {
    color: #442da7;
}

.color-box.mizuni {
    background-color: #442da7;
}

/* Monero Icon Card Styling */
.fa-monero:hover {
    color: #f26822;
}

.color-box.monero {
    background-color: #f26822;
}

/* Node.js Icon Card Styling */
.fa-node:hover,
.fa-node-js:hover {
    color: #649e62;
}

.color-box.node,
.color-box.node-js {
    background-color: #649e62;
}

/* npm Icon Card Styling */
.fa-npm:hover {
    color: #cb3837;
}

.color-box.npm {
    background-color: #cb3837;
}

/* ns8 Icon Card Styling */
.fa-ns8:hover {
    color: #6cb00c;
}

.color-box.ns8 {
    background-color: #6cb00c;
}

/* opencart Icon Card Styling */
.fa-opencart:hover {
    color: #35c2ed;
}

.color-box.opencart {
    background-color: #35c2ed;
}

/* opera Icon Card Styling */
.fa-opera:hover {
    color: #ff333d;
}

.color-box.opera {
    background-color: #ff333d;
}

/* patreon Icon Card Styling */
.fa-patreon:hover {
    color: #f96854;
}

.color-box.patreon {
    background-color: #f96854;
}

/* PayPal Icon Card Styling */
.fa-paypal:hover {
    color: #002f86;
}

.color-box.paypal {
    background-color: #002f86;
}

/* PayPal CC Icon Card Styling */
.fa-cc-paypal:hover {
    color: #009cde;
}

.color-box.cc-paypal {
    background-color: #009cde;
}

/* periscope Icon Card Styling */
.fa-periscope:hover {
    color: #40a4c4;
}

.color-box.periscope {
    background-color: #40a4c4;
}

/* phoenix-framework Icon Card Styling */
.fa-phoenix-framework:hover {
    color: #f15523;
}

.color-box.phoenix-framework {
    background-color: #f15523;
}

/* php Icon Card Styling */
.fa-php:hover {
    color: #777bb3;
}

.color-box.php {
    background-color: #777bb3;
}

/* pinterest Icon Card Styling */
.fa-pinterest:hover,
.fa-pinterest-p:hover,
.fa-pinterest-square:hover {
    color: #e60023;
}

.color-box.pinterest,
.color-box.pinterest-p,
.color-box.pinterest-square {
    background-color: #e60023;
}

/* pushed Icon Card Styling */
.fa-pushed:hover {
    color: #f8e61a;
}

.color-box.pushed {
    background-color: #f8e61a;
}

/* Python Blue Icon Card Styling */
.python-blue:hover {
    color: #3774a7;
}

.color-box.python-blue {
    background-color: #3774a7;
}

/* Python Yellow Icon Card Styling */
.python-yellow:hover {
    color: #ffd646;
}

.color-box.python-yellow {
    background-color: #ffd646;
}

/* Pocket Icon Card Styling */
.fa-get-pocket:hover {
    color: #ef4056;
}

.color-box.get-pocket {
    background-color: #ef4056;
}

/* raspberry-pi Icon Card Styling */
.fa-raspberry-pi:hover {
    color: #c31c4a;
}

.color-box.raspberry-pi {
    background-color: #c31c4a;
}

/* reddit Icon Card Styling */
.fa-reddit:hover,
.fa-reddit-alien:hover,
.fa-reddit-square:hover {
    color: #ff4500;
}

.color-box.reddit,
.color-box.reddit-alien,
.color-box.reddit-square {
    background-color: #ff4500;
}

/* Red Hat Icon Card Styling */
.fa-redhat:hover {
    color: #ee0000;
}

.color-box.redhat {
    background-color: #ee0000;
}

/* researchgate Icon Card Styling */
.fa-researchgate:hover {
    color: #00d0af;
}

.color-box.researchgate {
    background-color: #00d0af;
}

/* rocketchat Icon Card Styling */
.fa-rocketchat:hover {
    color: #db2323;
}

.color-box.rocketchat {
    background-color: #db2323;
}

/* safari Icon Card Styling */
.fa-safari:hover {
    color: #0f9ae5;
}

.color-box.safari {
    background-color: #0f9ae5;
}

/* salesforce Icon Card Styling */
.fa-salesforce:hover {
    color: #21a0df;
}

.color-box.salesforce {
    background-color: #21a0df;
}

/* sass Icon Card Styling */
.fa-sass:hover {
    color: #cf649a;
}

.color-box.sass {
    background-color: #cf649a;
}

/* scribd Icon Card Styling */
.fa-scribd:hover {
    color: #008490;
}

.color-box.scribd {
    background-color: #008490;
}

/* sellcast Icon Card Styling */
.fa-sellcast:hover {
    color: #f15b2f;
}

.color-box.sellcast {
    background-color: #f15b2f;
}

/* sellsy Icon Card Styling */
.fa-sellsy:hover {
    color: #009ae6;
}

.color-box.sellsy {
    background-color: rgb(0, 154, 230);
}

/****----MEDIA QUERIES----****/

/* BREAKPOINT 1: 768px wide */
@media only screen and (min-width: 768px) {
    .nav-text {
        font-size: 2.75rem;
    }

    .wrapper {
        width: 75%;
    }

    .section-border {
        width: 50%;
    }

    .section-welcome,
    .section-usage,
    .section-icons {
        margin: 6% 0;
    }

    .welcome-hdr,
    .usg-hdr,
    .icn-hrd {
        font-size: 1.75rem;
    }

    .welcome-para,
    .usg-para {
        margin-bottom: 6%;
    }

    .cdn-btn {
        font-size: 1.45rem;
        margin-bottom: 6%;
        padding: 3% 12%;
    }

    .icon-card {
        margin: 0 auto 7.5% auto;
        width: 60%;
    }

    .content-box {
        padding: 5.5% 0 5.5% 5.5%;
    }

    .color-box {
        max-width: 22%;
    }

    .icon-row i {
        margin-right: 6%;
    }

    .main-icon {
        font-size: 3.8rem;
    }

    .color-codes-row {
        font-size: 1.2rem;
    }

    .color-codes-row a:hover,
    .color-codes-row a:active,
    .color-codes-row a:focus {
        font-size: 1.3rem;
    }
}

/* BREAKPOINT 2: 1024px wide */
@media only screen and (min-width: 1024px) {
    .nav-text {
        font-size: 2.75rem;
        padding: 1.2% 0;
    }

    .wrapper {
        width: 75%;
    }

    .section-border {
        width: 50%;
    }

    .section-welcome,
    .section-usage,
    .section-icons {
        margin: 8% 0;
    }

    .welcome-hdr,
    .usg-hdr,
    .icn-hdr {
        font-size: 1.5rem;
        margin-bottom: 2%;
        letter-spacing: 0.75px;
    }

    .icn-hdr {
        margin-bottom: 6%;
        text-align: center;
    }

    .welcome-para,
    .usg-para {
        margin-bottom: 4%;
        line-height: 145%;
    }

    .cdn-btn {
        font-size: 1.45rem;
        margin-bottom: 4%;
        padding: 2% 9.5%;
    }

    .icon-card {
        margin: 0 auto 7% auto;
        width: 50%;
    }

    .content-box {
        padding: 5% 0 5% 5%;
    }

    .color-box {
        max-width: 22%;
    }

    .main-icon {
        font-size: 3.85rem;
    }
}

/* BREAKPOINT 3: 1366px wide */
@media only screen and (min-width: 1366px) {
    .nav-text {
        padding: 1.1% 0;
    }

    .wrapper {
        width: 68%;
    }

    .section-border {
        height: 2.7px;
        width: 45%;
    }

    .section-welcome,
    .section-usage,
    .section-icons {
        margin: 4% 0;
    }

    .welcome-hdr,
    .usg-hdr,
    .icn-hdr {
        font-size: 1.8rem;
        margin-bottom: 1.1%;
    }

    .icn-hdr {
        margin-bottom: 4%;
    }

    .welcome-para,
    .usg-para {
        margin-bottom: 4%;
        font-size: 1.12rem;
    }

    .cdn-btn {
        font-size: 1.55rem;
        margin-bottom: 4%;
        padding: 2.25% 10%;
    }

    .icon-card {
        margin: 0 auto 6% auto;
        width: 45%;
    }

    .content-box {
        padding: 5.5% 0 5.5% 5.5%;
    }

    .color-box {
        max-width: 22%;
    }

    .main-icon {
        font-size: 4rem;
    }

    .color-codes-row {
        font-size: 1.12rem;
    }
}

/* BREAKPOINT 4: 1920px wide */
@media only screen and (min-width: 1920px) {
    .nav-text {
        font-size: 2.75rem;
        padding: 1% 0;
    }

    .wrapper {
        width: 50%;
    }

    .section-border {
        width: 35%;
    }

    .section-welcome,
    .section-usage,
    .section-icons {
        margin: 4% 0;
    }

    .welcome-hdr,
    .usg-hdr,
    .icn-hdr {
        font-size: 1.9rem;
        margin-bottom: 1.2%;
    }

    .icn-hdr {
        margin-bottom: 3.5%;
    }

    .welcome-para,
    .usg-para {
        margin-bottom: 3.5%;
        line-height: 155%;
    }

    .cdn-btn {
        font-size: 1.9rem;
        margin-bottom: 3.5%;
        padding: 2.5% 10%;
    }

    .icon-card {
        margin: 0 auto 5% auto;
        width: 43%;
    }

    .content-box {
        padding: 5.5% 0 5.25% 5.25%;
    }

    .color-box {
        max-width: 24%;
    }

    .icon-row {
        margin-bottom: 3%;
    }

    .main-icon {
        font-size: 4.15rem;
    }

    .color-codes-row {
        font-size: 1.2rem;
        line-height: 155%;
    }

    .color-codes-row a:hover,
    .color-codes-row a:active,
    .color-codes-row a:focus {
        font-size: 1.35rem;
    }
}