.card {
  color: $charcoal;
  margin-bottom: 2rem;
  width: 17%;
  transition: $transition-smooth;

  &:hover {
    box-shadow: $subtle-box-shadow;
    transform: translateY(-4px);
  }

  &:not(:nth-child(5n + 5)) {
    margin-right: 2rem;
  }

  &--hidden {
    display: none;
  }

  &__header {
    @extend %flex-both-center;
    padding: 1rem;
    background-color: #f6f6f6;
  }

  &__icon {
    font-size: 2.5rem;
  }

  &__heading {
    font-size: 2rem;
    margin-left: 1rem;
  }

  &__color-box {
    padding: 1rem;
  }

  &__color-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    font-weight: 700;
    padding: 1rem;
    font-size: 1.25rem;
  }

  &__color-icon {
    cursor: pointer;
  }
}
